// base code
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /*defines what 1rem is*/
  font-size: 62.5%;
//   box-sizing: border-box;
}

body {
  box-sizing: border-box;
}

.row>*{
    padding: 0;
}

// first screen overlay

.overlay{
    background-color: red;

    &-IMG{
        
        height: 100vh;
    }

    /* Centered text over image */
    &-centered {
        width: 15%;
        height: 5%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


// main website
.mainScreen{
    display: none;
}

.mainContent{
    margin-top: 25rem;
    height: 100vh;
}

.navbar-link-img{
    height: 20rem;
}


  
 
  
