// base code
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /*defines what 1rem is*/
  font-size: 62.5%;
//   box-sizing: border-box;
}

body {
  box-sizing: border-box;
}

.row>*{
    padding: 0;
}

// first screen overlay

.overlay{
    background-color: red;

    &-IMG{
        
        height: 100vh;
    }

    /* Centered text over image */
    &-centered {
        width: 15%;
        height: 5%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


// main website
.mainScreen{
    display: none;
}

.navbar{
    opacity: 0.7;
    position: relative;
}

.centered {
    position: absolute;
    top: 50%;
    left: 10%;
    // transform: translate(-50%, -50%);
    color: white;
    width: max-content;
    padding: 1rem;
    background-image: linear-gradient( to right bottom, rgba(241, 244, 249, 0.85), rgba(241, 244, 249, 0.85) );
    font-size: 4vw;
    
  }
.stripText{
    text-align: center;
    border: 10px solid lightgreen;
}
.mainContent{
    // margin-top: 11rem;
    

    &-backgroundIMG{
        background-image: url(/assets/img/vinyard.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
}
.navbar{
    height: 15vh;

&-link-img{
    height: 10rem;
}

}
  

footer{
    border: 5px solid lightgreen;
}
 
  
